<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="container-fluid ">
        <div class="row py-4 footer--bgcolor justify-content-center align-items-center text-white">
            <div class="col-1 mx-5"> <a class ="fs-5 footer--a" href="/status" target="_top" >현재상태 입력</a></div>
            <div class="col-1 mx-5"> <a class ="fs-5 footer--a" href="/auction" target="_top">경매장</a></div>
        </div>
    </div>
</body>
</html>

